<%= form_for(todo_list) do |f| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="field">
    <legend><h6><%= :title %></h6></legend>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>

  <fieldset class="field">
    <legend><h6><%= :description %></h6></legend>
    <%= f.text_area :description, class: "form-control" %>
  </fieldset>

  <fieldset class="actions">
    <%= f.submit "Create", class: "form-control btn btn-submit btn-primary" %>
  </fieldset>
<% end %>
