<p id="notice"><%= notice %></p>

<div class="page">
  <div class="page-header text-center">
    <h1>Todo Lists</h1>
  </div>
  
  <!-- Card View -->
  <legend>Card View</legend>
  <div class="page-body">
    <% @todo_lists.each do |todo_list| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag "TodoList.svg", class: "card-img-top img-page-referrer" %>
        <div class="card-body">
          <h5 class="card-title"><%= todo_list.title %></h5>
          <p class="card-text"><%= truncate(todo_list.description, length: 100) %></p>
        </div>
        <div class="card-footer text-center">
          <%= link_to todo_list, class:"btn btn-outline-primary btn-sm card-link" do %>
            <i class="fa fa-eye fa-2x text-primary"></i>
          <% end %>
          <%= link_to edit_todo_list_path(todo_list), class:"btn btn-outline-info btn-sm card-link" do %>
            <i class="fa fa-pencil-alt fa-2x text-info"></i>
          <% end %>
          <%= link_to todo_list, method: :delete,
                              class:"btn btn-outline-danger btn-sm card-link",
                              data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-times-circle fa-2x text-danger"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <hr />

  <!-- Table View -->
  <legend>Table View</legend>
  <div class="page-body-table">
    <table id="example" class="display" style="width:100%">
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
          </tr>
      </thead>
      <tbody>
        <% @todo_lists.each do |todo_list| %>
          <tr>
              <td><%= todo_list.id %></td>
              <td><%= todo_list.title %></td>
              <td><%= truncate(todo_list.description, length: 100) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
          </tr>
      </tfoot>
    </table>
  </div>

  <div class="page-footer">
    <div class="text-center mt-5">
      <%= link_to new_todo_list_path, class: "btn btn-lg btn-float-right btn-success text-white" do %>
        <i class="fa fa-plus fa-2x"></i>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>
